<h2>Coins list:</h2>

{{#each coins}}
 <section class="coin-summary">
        <h2>{{this.title}}</h2>
        <p>
            Name: {{this.name}}<br />
            Ticker: {{this.ticker}} <br />

            <a href="/coins/{{id}}">More details</a>
            <a href="/coins/{{_id}}/edit">Edit this coin</a>
        </p>

    </section>
{{/each}}