<section>
    <div id="form">
         <ul>
    <h1>{{name}}</h1>
   
    <p><div>
        <h2>Shortname:  {{ticker}}</h2>  <br />
    </p>
    <form action="/coins/{{_id}}" method="post"></form>
    <p></div><div>
        <h2>Price:
        ${{value}}</h2>
    </p></div>
<br></section><ul><div>
    <p><br>
        <form action="/coins/{{_id}}/delete" method="POST">
         <button class="button-54" role="button">
            Delete</button>
        </form></div>
    </p>
</div>
</section>
 <button class="button-54" role="button">
<a href="/coins">Back</a></button>