<section class="book-details">
    <h2>{{name}}</h2>
    <p>
        <strong>Ticker-Symbol: </strong> {{ticker}} <br />
    </p>
    <p>
        <strong>Value:</strong>
        ${{value}}
    </p>

    {{!-- <p>
        <strong>Market Cap:</strong>
        ${{marketcap}}
    </p> --}}

    <p>
        <form action="/coins/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>

</section>

<a href="/coins">Back</a>