<section>
    <h2>{{name}}</h2>
    <p>
        <strong>Shortname: </strong> {{ticker}} <br />
    </p>
    <form action="/coins/{{_id}}" method="post"></form>
    <p>
        <strong>Price:</strong>
        ${{value}}
    </p>

    <p>
        <form action="/coins/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>

</section>

<a href="/coins">Back</a>