<h2>Edit the coin: {{name}}</h2>

<form action="/coins/{{_id}}/edit" method="post">
  <label> Name:
    <input type="text" name="name" value="{{name}}" />
  </label>

  <label> Ticker:
    <input type="text" name="ticker" value="{{ticker}}" />
  </label>

  <label> Value:
    <input type="number" name="value" value="{{value}}" />
  </label>

  <label> Market Cap:
    <input type="number" name="marketcap" value="{{marketcap}}" />
  </label>

  <button>Save changes</button>
</form>