<br><br><br>
<h1>Edit coin: {{name}}</h1>

<form action="/coins/{{_id}}/edit" method="post">

 <h2> Name:<br>
    <input type="text" name="name" value="{{name}}" required/>
  </h2>

  <h2> Shortname:<br>
    <input type="text" name="ticker" value="{{ticker}}" required/>
  </h2>

  <h2> Price:<br>
    <input type="number" name="value" value="{{value}}" required/>
  </h2>

    <button class="button">
 Save changes</button>
</form>
