<h1>Edit coin: {{name}}</h1>
<div id="form">
<form action="/coins/{{_id}}/edit" method="post">
<ul>
 <li><h2> Name:
    <input type="text" name="name" value="{{name}}" required/>
  </h2></li>

  <li><h2> Ticker:
    <input type="text" name="ticker" value="{{ticker}}" required/>
  </h2></li>

  <li><h2> Price:
    <input type="number" name="value" value="{{value}}" required/>
  </h2></li>
  </ul>
<br><br>
    <button class="button-54" role="button">
 Save changes</button>
</form>
</div>