<h2>Edit portfolio: {{title}}</h2>

<form action="/portfolio/{{_id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{title}}" />
  </label>

  <label> Coins:
    <br/>
    <select name="coin">
      {{#each coin}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <br/>
    <select name="coin">
      {{#each coinArr}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <br/>
    <select name="coin">
      {{#each coinArr}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </label>
  <br/>

  <button>Save changes</button>
</form>