<h2>Edit portfolio: {{title}}</h2>
<div id="form">
<form action="/portfolio/{{_id}}/edit" method="post">
  <label> Title:
    <input type="text" name="title" value="{{title}}" required/>
  </label>
</div>
  <label> Coins:
    <br/>
    <div id="form">
    <select name="coin" multiple>
      {{#each coin}}
        <option name="coin" value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <br/>
  </label>
  </div>
  <p>Hold down the Ctrl (windows) / 
          Command (Mac) button to select multiple options.</p>
  <br/>

  <button>Save changes</button>
</form>