<h2>Portfolios:</h2>

{{#each portfolios}}
 <section>
        <p>
            Title: {{this.title}}<br />

            Coins: 
            {{#each this.coin}}
            {{ticker}}
            {{!-- {{ value }}  --}}
            {{/each}}
            <br />
            {{!-- Amount: {{this.amount}} <br /> --}}

            Total Value: 
            {{#each this.coin}}
            {{add value}}
            {{/each}}
            
            <br />
            <a href="/portfolio/{{id}}">More details</a>
            <a href="/portfolio/{{_id}}/edit">Edit this portfolio</a>
        </p>

    </section>
{{/each}}