<section>
    <h2>{{title}}</h2>
    <p>
        <strong>Coin: </strong> {{this.coin.name}} <br />
    </p>
    <p>
        <strong>Amount:</strong>
        {{amount}}
    </p>

    <p>
        <strong>Value:</strong>
        ${{this.coin.value}}
    </p>

    <p>
        <form action="/portfolio/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>

</section>

<a href="/portfolio">Back</a>